
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    float: inherit;
    clear: right;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}